In this notebook the prepocessed data is taken and sentiment analysis has been done using several machibne learning algorithms.
Here I have used Multinomial and Bernoulli Naive Bayes.

In [8]:
import pandas as pd

In [9]:
data = pd.read_excel('Data/data-count-vector.xls', sheet_name='Sheet1')

In [10]:
data.head()

,Review,Liked,char_count,word_count,avg_word_len,Count_also,Count_always,Count_amazing,Count_another,Count_ask,...,Count_thing,Count_think,Count_time,Count_try,Count_vegas,Count_wait,Count_want,Count_way,Count_well,Count_would
0,wow loved this place,1,24,4,6.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,crust is not good,0,18,4,4.500000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,not tasty and the texture was just nasty,0,41,8,5.125000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,stopped by during the late may bank holiday of...,1,87,15,5.800000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,the selection on the menu was great and so wer...,1,59,12,4.916667,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
data.columns

Index(['Review', 'Liked', 'char_count', 'word_count', 'avg_word_len',
       'Count_also', 'Count_always', 'Count_amazing', 'Count_another',
       'Count_ask',
       ...
       'Count_thing', 'Count_think', 'Count_time', 'Count_try', 'Count_vegas',
       'Count_wait', 'Count_want', 'Count_way', 'Count_well', 'Count_would'],
      dtype='object', length=105)

In [12]:
X = data.iloc[:, 2:]

In [13]:
X.head()

,char_count,word_count,avg_word_len,Count_also,Count_always,Count_amazing,Count_another,Count_ask,Count_atmosphere,Count_awesome,...,Count_thing,Count_think,Count_time,Count_try,Count_vegas,Count_wait,Count_want,Count_way,Count_well,Count_would
0,24,4,6.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,18,4,4.500000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,41,8,5.125000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,87,15,5.800000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,59,12,4.916667,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
y = data.iloc[:, 1]

In [15]:
y.head()

0    1
1    0
2    0
3    1
4    1
Name: Liked, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
X_train.head()

,char_count,word_count,avg_word_len,Count_also,Count_always,Count_amazing,Count_another,Count_ask,Count_atmosphere,Count_awesome,...,Count_thing,Count_think,Count_time,Count_try,Count_vegas,Count_wait,Count_want,Count_way,Count_well,Count_would
650,54,8,6.750000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
969,81,20,4.050000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192,52,10,5.200000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,133,23,5.782609,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
109,13,2,6.500000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
from sklearn.naive_bayes import MultinomialNB, BernoulliNB

In [20]:
classifier = MultinomialNB()

In [21]:
classifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
y_pred = classifier.predict(X_test)

In [23]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [24]:
print(confusion_matrix(y_test, y_pred))

[[65 34]
 [26 75]]

In [25]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.71      0.66      0.68        99
           1       0.69      0.74      0.71       101

   micro avg       0.70      0.70      0.70       200
   macro avg       0.70      0.70      0.70       200
weighted avg       0.70      0.70      0.70       200

In [26]:
print(accuracy_score(y_test, y_pred))

0.7

In [27]:
classifierBNB = BernoulliNB()

In [28]:
classifierBNB.fit(X_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [29]:
y_pred = classifierBNB.predict(X_test)

In [30]:
print(accuracy_score(y_test, y_pred))

0.735

In [31]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.72      0.76      0.74        99
           1       0.75      0.71      0.73       101

   micro avg       0.73      0.73      0.73       200
   macro avg       0.74      0.74      0.73       200
weighted avg       0.74      0.73      0.73       200